    html,body{
        margin: 0;
    }
#imagem-fundo{
    background: url("varias\ muleres.jpg");
    height:100%;
    text-align: center;

}
#titulo{
    color:whitesmoke;
    padding-top:20%;
    font-size: 40px;
}
#subtitulo{
    color:white;
    padding-right:20%;
    padding-left:20%;
}
#acao{
    color: white solid;
    border:1px white solid;
    padding: 10px 10px 10px 10px;
}
.coluna{

    padding-left: 10px;
}
.destaque{
 background-color:rgb(233, 142, 142);
}
.justificado{
text-align: justify;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.centralizado{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
